/* global.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}




.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

@keyframes wave {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url('/assets/images/wave.jpg') repeat-x;
  animation: wave 10s linear infinite;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* RESPONSIVIDADE */

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .retrato {
    width: 150px;
    height: 150px;
  }

  .text h1 {
    font-size: 2rem;
  }

  .text h2 {
    font-size: 1.2rem;
  }
}